.containerParagrafoProjeto{
    padding: 50px;
    position: relative;
    
}
.containerParagrafoProjeto ::before{
    background-color: brown;
    content: "";
    width: 5px;
    height:20px;
    position: absolute;
    margin-left: -15px;
    margin-top: 4px;

}